<ion-view view-title="My Contacts">
    <ion-header-bar class="bar-assertive">
        <button class="button ion-android-arrow-back" ng-click="goBack();"></button>
        <h1 class="title">My contacts</h1>
    </ion-header-bar>
    <ion-content class="padding10">
    	<h6>Friends</h6>
    	<div class="list list-inset">
		    <label class="item item-input">
		        <i class="icon ion-search placeholder-icon" ng-click="searchUser(search.name)"></i>
		        <input type="text" placeholder="Search" ng-model="search.name" ng-change="searchUser(search.name)">
		    </label>
            <div class="list" ng-show="showPopover">
                <div class="item item-icon-right" ng-repeat="obj in searchResult">{{obj.firstname}} {{obj.lastname}}<i class="icon ion-android-add-circle"></i></div>
            </div>
		</div>
	</ion-content>
</ion-view>

